.booleanFilter {
    display: flex;
    width: fit-content;
    border-radius: 25px;
    border: 1px solid #dddddd;
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    color: #8b8c96;
    cursor: pointer;
}

.iconContainer {
    margin-right: 10px;
}

.filterLabel {
    text-wrap: nowrap;
}

.active {
    color: #904ab7;
    border: 1px solid #904ab7;
    background-color: #f0e5f7;
}

.active:hover {
    color: #691f91;
    border: 1px solid #691f91;
    background-color: #f0e5f7;
    box-shadow: 1px 5px 5px #f0e5f7;
}